body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/plage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: "Dosis", sans-serif;
  .loader {
    border: 16px solid #f3f3f318;
    border-radius: 50%;
    border-top: 16px solid rgb(80, 58, 109);
    border-bottom: 16px solid rgb(80, 58, 109);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 30px;
      box-shadow: 0px 0px 20px 0px white;
    }
    p {
      margin-bottom: 30px;
    }
    .container_quote {
      max-width: 800px;
      padding: 10px;
      border-radius: 15px;
      font-size: 24px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.514);
      box-shadow: 0px 0px 20px 0px white;
    }

    .container_name {
      padding: 10px;
      border-radius: 15px;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.514);
      box-shadow: 0px 0px 20px 0px white;
    }
  }
  .random_button {
    font-size: 14px;
    color: #fff;
    background-color: #7a79d4;
    padding: 10px 30px;
    border: solid #d3dfeb 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: shake 3s infinite;
  }

  @keyframes shake {
    0% {
      transform: rotate(2deg);
    }
    2% {
      transform: rotate(-2deg);
    }
    5% {
      transform: rotate(2deg);
    }
    7% {
      transform: rotate(-2deg);
    }
    10% {
      transform: rotate(2deg);
    }
    12% {
      transform: rotate(-2deg);
    }
    15% {
      transform: rotate(2deg);
    }
    17% {
      transform: rotate(-2deg);
    }
    20% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .random_button:hover {
    transition: 1000ms;
    padding: 10px 25px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #4444ad;
    border: solid 2px #7a79d4;
    animation: none;
  }
}
.container_age {
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow: 0px 0px 20px 0px white;
}
